<title>EMO Social Network</title>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="EMO Social Network">

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<link href="/css/main.css" rel="stylesheet" type="text/css">
<link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>
<script src="/js/focus.js" type="text/javascript"></script>


<%# <script src="/js/friend-request.js" type="text/javascript"></script>%>
<!-- <script src="/js/user-board.js" type="text/javascript"></script> -->
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
