<% if ( locals.user ){ %>
	<script src="/js/edit-profile.js" type="text/javascript"></script>
	<script src="/js/friend-request.js" type="text/javascript"></script>
	<script src="/js/notifications.js" type="text/javascript"></script>
<% } %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EMO Social Network</a>
    </div>
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	 <% if ( locals.user ){ %>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/board">My board</a></li>
      <li><a href="/profile">My profile</a></li>
	   <li><a href="/members">Members</a></li>
	   <li><a href="/messages">Messages</a></li>
	   <li><a href="#"><span class="glyphicon glyphicon-envelope btn-lg"><span class="badge"><%- /*friendRequest.toObject().length */ %></span></span></a></li>
	    <li id="friend-request"><a href="/friend-request"><span class="glyphicon glyphicon-user btn-lg"><% if( typeof(friendRequest) !=='undefined' && friendRequest.toObject().length > 0 ) { %><span class="badge"><%- friendRequest.toObject().length %></span> <% } %> </span> </a></li>
    </ul>
	<% } %>

    <ul class="nav navbar-nav navbar-right">
		<% if ( typeof(locals.user) === 'undefined' ){  %>
      		<li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	  	<% } %>
		<% if ( locals.user ){ %>
			<li>
			<form class="navbar-form navbar-left" id="search" name="form-search" action="/search" method="POST">
		      <div class="form-group">
		        <input type="text" class="form-control" name="search" placeholder="Search">
		      </div>
		      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
		    </form>
			</li>
			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			<script src="js/search.js"></script>
		<% } %>
    </ul>
  </div>
  </div>
</nav>
