<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>

	</head>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>Oops <strong>404</strong>!</h1>
				</div>
				<!-- end page header -->

				<div id="bg-container" class="text-center">

					<p>
						It's embarrassing...
					</p>
					<p>
						It seems that your request page does not exist
					</p>


							<% if( locals ) { %>
								<button class="btn btn-info"><a href="/board">go to the board</a></button>
								<% } else { %>
								<button class="btn btn-info"><a href="/">go back home</a></button>
								<% } %>
				</div>
				<!-- end form-container -->
				</div>

				<!-- end container -->

				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
