<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>

	</head>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>Inscripion</h1>
				</div>
				<!-- end page header -->





				<!-- formulaire -->
				<div id="form-container" class="col-lg-12 col-xs-12">

					<div id="inscription" class="col-xs-8 col-xs-offset-2">
							<div id="logo">
									<img src="img/af.png" alt="Air France" />
							</div>


							<form action="/" method="post">
					    <div class="form-group row">
					      <label for="nom" class="col-sm-3 col-form-label col-form-label-sm">Votre nom</label>
					      <div class="col-sm-7">
					        <input type="text" class="form-control form-control-lg" id="nom" placeholder="" required>
					      </div>
					    </div>
					    <div class="form-group row">
					      <label for="prenom" class="col-sm-3 col-form-label col-form-label-sm">Votre prénom</label>
					      <div class="col-sm-7">
					        <input type="text" class="form-control form-control-sm" id="prenom" placeholder="" required>
					      </div>
					    </div>
							<div class="form-group row">
								<label for="email" class="col-sm-3 col-form-label col-form-label-sm">Votre email</label>
								<div class="col-sm-7">
									<input type="email" class="form-control form-control-sm" id="email" placeholder="" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="age" class="col-sm-3 col-form-label col-form-label-sm">Votre age</label>
								<div class="col-sm-3">
									<input type="number" class="form-control form-control-sm" id="age" placeholder="" min="7" max="77">
								</div>
							</div>
							<div class="form-group row">
								<div for="" class="col-sm-3  "></div>
								<div class="col-sm-7">
									 <input type="submit" class="form-control btn btn-success" placeholder="envoyer" />
								</div>
							</div>


					  </form>

							</div>
							<!--  end inscription -->
					</div>
					<!-- end form-container -->



				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
