
<form enctype="multipart/form-data" method="post" action="/edit-profile" id="form"  >
		<div class="col-md-3"> <img src="img/profile/<%- user.avatar %>" alt="<%- user.nickname %>" class="img-rounded img-responsive" />		</div>
			<div class="col-md-9 ">
				  <label>Update profile photo</label>
					<input type="file" id="avatar" name="avatar" placeholder="photo"/>


			<p>
 <ul>
  <!-- <img src="img/profile/<%= user.avatar %>" id="avatar" alt="avatar" class="img-rounded img-responsive" /></li> -->
    <li> </li>
    <li><i class ="col-xs-4">Prénom : </i><input type="text" id="firstname" name="firstname" value="<%= user.firstname %>" /></li>
    <li><i class ="col-xs-4">Nom    : </i><input type="text" id="lastname" name="lastname" value="<%= user.lastname %>"    /></li>
    <li><i class ="col-xs-4">Email  : </i><input type="email" id="email" name="email" value="<%= user.email %>"  /></li>
    <li><i class ="col-xs-4">Password : </i>  <button type="button" class="btn btn-sm btn-danger">
          change password</button></li>
    <li><i class ="col-xs-4">Date de naissance : </i><input type ="text" id ="dob" name="dob" value ="<%= user.dob %>" /></li>
    <li><i class ="col-xs-4">Présentation : </i><input type ="text" id ="presentation" name="presentation" value ="<%= user.presentation %>" /></li>
    <li><i class ="col-xs-4">Coordonnées : </i><input type ="text" id ="details" name="details" value ="<%= user.details %>" /></li>
    <% if(user.role == 'M'){ %>
      <li><i class ="col-xs-4">Status : Member</li>
    <% } %>
    <% if(user.role == 'SPA'){ %>
      <div class="radio">
        <label><input type="radio" name="optradio">M</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">A</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">SPA</label>
      </div>
    <% } %>

<input type="submit" class="submit" value="submit">
</ul>
</p>

	</div>
</form>

<!--  -->
<div class="col-xs-12">

  <div class="btn-group user-button valider">
      <!-- <button type="submit" class="btn btn-sm btn-success">
          valider</button> -->
  </div>
  <div class="btn-group user-button annuler">
      <button type="button" class="btn btn-sm btn-danger">
          annuler</button>
  </div>


</div>
