<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>

	</head>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>Forgot password</h1>
				</div>
				<!-- end page header -->
<%# /////////////////////////////  LOGIN CONTAINER ///////////////////////////////%>
				<div id="bg-container">
					<!-- formulaire -->
					<form action="/" method="post" id="submit-send-password">

					<div id="form-container" class="col-lg-12 col-xs-12">

						<div id="send-password" class="box focus col-xs-8 col-xs-offset-2">
								<div id="logo">
										<%# <img src="img/logo_.png" alt="logo" />%>
											LOGO
								</div>
								<div class="form-group">
									<div class="form-group row">
										<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
											 An email will be send at your email user ID
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
											<input type="email" class="email form-control form-control-sm" id="email" placeholder="" required>
										</div>
									</div>
									<div class="form-group row">
											<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
											 <input type="submit" class="form-control green resetPwd" placeholder="Reset password" />
										</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- end form-container -->
				</div>
<%# ////////////////////////////////////////////////////////////////////////////////%>
				<!-- end container -->

				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
