
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form class="uploadImage" enctype="multipart/form-data" action="/add" method="POST">
   <input type="text" id="title">
   <input type="file" name="imagename" id="imagename">
   <input type="submit" name="submit" value="Submit">
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>
   $('.uploadImage').submit(function(e){
     e.preventDefault();

     var title = $('#title').val();

     $(this).ajaxSubmit({
       data: {title: title},
       contentType: 'application/json',
       success: function(response){
         console.log('image uploaded and form submitted');
       }
   });
     return false;
});
</script>
</body>
</html>
