<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>

	</script>
	<link rel="stylesheet" href="css/board.css">
	<script src="/js/user-board.js" type="text/javascript"></script>
	<script>
	var friendRequest = <%- JSON.stringify( friendRequest ) %>;
	var avatars       = <%- JSON.stringify( avatarArray ) %>;

		$(document).ready(function(){


if( !friendRequest.length){
		$("#friend-request-list ul").append( "<li> No request yet </li>");
	return;
} else {

					$.each( friendRequest, function(index, value){

						//console.log('EACH::', value.uid, value.user, value.date);

							for( var i in avatars){

							var list = [
								'<li id="' + value.uid + '" class="li-request-friend-list col-md-6 col-sm-6 col-xs-12">',
									'<div class="col-md-3 avatar"><img src="img/profile/' + avatars[i]   + '" alt="' + value.user + '"/></div>',
									'<div class="col-md-9 col-sm-12 col-xs-12">',
										'<p class="col-xs-12">Add this member to your friends list ? </p>',
										'<h3 class="col-xs-12 nickname">' + value.user  + '</h3>',
									'</div>',
									'<div class="col-md-9 col-sm-9 col-xs-12">',
										'<div class="col-md-6 col-sm-6 col-xs-12 text-center">',
											'<button class="btn btn-success btn-accept-request-friend" data-response="accept" data-uid="'+ value.uid +'" data-nickname="' + value.user + '">Accept</button>',
										'</div>',
										'<div class="col-md-6 col-sm-6 col-xs-12 text-center">',
											'<button class="btn btn-danger btn-decline-request-friend" data-response="decline" data-uid="'+ value.uid +'" data-nickname="' + value.user + '">decline</button>',
											'</div>',
										'</div>',
									'</div>',
								'</li>'
							];
						}

						$("#friend-request-list ul").append( list.join(''));
				})// end EACH


				$(document).on('click', '.btn-accept-request-friend', function(event){ 		responseFriendRequest( event );				});
				$(document).on('click', '.btn-decline-request-friend', function(event){		responseFriendRequest( event );				});

				/**
				 * responseFriendRequest
				 */
				function responseFriendRequest( event ){

							var response = $(event.currentTarget).data('response');
							var uid      = $(event.currentTarget).data('uid');
							var nickname = $(event.currentTarget).data('nickname');


							$.ajax({
								method:'POST',
								url:'response-friend-request',
								data: {
									response: response,
									uid     : uid,
									nickname: nickname
								},
								success: function( data, textStatus, jqXHR ) {

										if(data){
											console.log( data );

											var modal = [
												'<div class="container-fluid modal-container">',
													'<div class="modal well col-md-4 col-sm-4 col-xs-12 text-center">',
													'<span class="glyphicon glyphicon-remove pull-right"></span>',
														'<div class="wrapper">',
														 '<h3><span class="glyphicon glyphicon-'+ data.icon + '"></span> ' + data.message +'</h3>',
														'</div>',
													'</div>',
												'</div>',
											];

											$('body').append( modal.join(''));

											$('#' + uid).fadeIn("fast", function(){ $( this ).remove()});


										}
								}
							})

				     		console.log(response, uid, nickname);

							/**
							 * BTN CANCEL
							 */
												$(document).on('click', '.glyphicon-remove, .modal-container', function(){
													$('.modal-container').fadeIn('slow', function(){
														$(this).remove();
													})
												});

					}
				}// end if
		})//end ready
	</script>
	</head>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>Friend request</h1>
				</div>
				<!-- end page header -->

				<%# ///////////////////////// BOARD ////////////////////////////////// %>
				<div id="bg-container">
					<div id="friend-request-list" class="col-md-12">
						<ul>
									<!-- include friends-request-list -->
						</ul>
					</div>
				</div>


				</div>
				<%# end row %>

		</div>
		<!-- end form-container -->


				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
