<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>

	</head>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>Inscripion</h1>
				</div>
				<!-- end page header -->
<div class="container">

	<div id="bg-container">

  <form action="/" method="post" id="submit-form">


				<!-- formulaire -->
				<div id="form-container" class="col-lg-12 col-xs-12">

					<div id="signup" class="box focus col-xs-8 col-xs-offset-2">
							<div id="logo">
									<%# <img src="img/logo_.png" alt="logo" />%>
									LOGO
							</div>

							<div class="form-group">
								<div class="form-group row">
									<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
										<input type="text" class="firstname form-control form-control-sm" id="firstname" placeholder="" required>
									</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
										<input type="text" class="lastname form-control form-control-lg" id="lastname" placeholder="" required>
									</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
										<input type="text" class="nickname form-control form-control-lg" id="nickname" placeholder="" required>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
										<input type="email" class="email form-control form-control-sm" id="email" placeholder="" required>
									</div>
								</div>
								<%# <div class="form-group row">
									  <div class="col-xs-3 col-xs-offset-3 dob">date of birth</div>
									  <div class="text-right col-sm-3 col-xs-6 ">
									<input type="date" class="email form-control form-control-sm" id="dob" placeholder="" required="">										</div>
									</div>%>
								<div class="form-group row">
										<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
										<input type="password" class="password form-control form-control-sm" id="password" placeholder="" required>
									</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
										 <input type="submit" class="form-control btn btn-info green" placeholder="Sign Up" />
									</div>
								</div>
								</form>
							</div>
						</div>
					</div>
					<!-- end inscription -->
        	</div>
					<!-- end form-container -->
				</div>

				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
