<div class="user-info col-md-12">
	<div class="col-md-3"> <img src="img/profile/<%- user.avatar %>" alt="<%- user.nickname %>" class="img-rounded img-responsive" />	</div>
	<div class="col-md-9">
			  <ul class="col-md-6">
			      <li><i class="col-xs-6">Firstname : </i><%= user.firstname %></li>
			      <li><i class="col-xs-6">Lastname : </i> <%= user.lastname %></li>
			      <li><i class="col-xs-6">Nickname : </i> <%= user.nickname %></li>
			      <li><i class="col-xs-6">Birth : </i> <%= user.dob %></li>
			      <li><i class="col-xs-6">Gender : </i> <%= user.gender %></li>
			      <li><i class="col-xs-6">Details : </i> <%= user.details %></li>
			      <li><i class="col-xs-6">Presentation : </i> <%= user.Presentation %></li>
			      <li><i class="col-xs-6">Email : </i> <%= user.email %></li>
			      <li><i class="col-xs-6">password : </i> <button type="button" class="btn btn-sm btn-danger">
			            Change password</button></li>
			  </ul>
			  <div class="btn-group user-button modifier">
			      <button type="button" class="btn btn-sm btn-warning">
			          modifier</button>
			  </div>
  	</div>
  </div>
