<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>

	</head>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>Inscripion</h1>
				</div>
				<!-- end page header -->
<div class="container">

  <form action="/" method="post">


				<!-- formulaire -->
				<div id="form-container" class="col-lg-12 col-xs-12">

					<div id="inscription" class="col-xs-8 col-xs-offset-2">
							<div id="logo">
									<img src="img/af.png" alt="Air France" />

							</div>

							<div class="form-group">

        <div class="row">
                  <div class="col-xs-4">
                          <label>Votre nom</label>
                  </div>
                  <div class="col-xs-8">
                    <input type="text" class="form-control" name="nom" id="nom" placeholder="" required/>
                  </div>
        </div>
        <div class="row">
                  <div class="col-xs-4">
                          <label>Votre prénom</label>
                  </div>
                  <div class="col-xs-8">
                    <input type="text" class="form-control" name="prenom" id="prenom" placeholder="" required/>
                  </div>
        </div>
        <div class="row">
                  <div class="col-xs-4">
                                        <label>Votre email</label>
                  </div>
                  <div class="col-xs-8">
                    <input type="email" class="form-control" name="email" id="email" placeholder="" required/>
                  </div>
        </div>
        <div class="row">
                  <div class="col-xs-4">
                                        <label>Votre age</label>
                  </div>
                  <div class="col-xs-8">
                    <input type="number" class="form-control" name="age" id="age" placeholder="" min="7" max="77"/>
                  </div>
        </div>

        <div class="row">
                  <div class="col-xs-4">

                  </div>
                  <div class="col-xs-8">
                    <input type="submit" class="form-control btn btn-success" placeholder="envoyer" />
                  </div>
        </div>

</form>



							</div>
					</div>
					<!-- end form -->
        </div>
				</div>

				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
