<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>
	</head> 
	<script>

	$(document).ready(function(){

  				 (function(){

						 var members = <%- JSON.stringify(members) %>;
						 var sess    = <%- JSON.stringify(session) %>;

							$('.user-members ul').empty();

				$.each( members , function( index, value ){

				/**
				 * checkFriend
				 */
				function checkFriend(){

								 var isFriend    = '<a href="/user/' + value.nickname + '" class="btn btn-success" role="button">  You are friend</a>';
								 var isNotFriend = '<a href="#" id="' + value.uid + '" class="btn btn-primary btn-friend-request" role="button"> Send a friend request</a>';
								 var isMyself    = '<a href="/board" class="btn btn-default" role="button">View my profile</a> ';

								 if( value.isFriend ){
										return isFriend
									}
									if( value.isFriend == false) {
										 return isNotFriend
									}
									if( value.nickname == sess ){
										 return isMyself
								 }
				};

									 //////////////////////////////
									 var li = [
											'<li id="' + value.uid + '">',
												'<div class="col-md-3 avatar"><img src="img/profile/' + value.avatar  + '" alt="' + value.nickname + '"/></div>',
												'<div class="col-md-9 col-sm-12 col-xs-12">',
													'<h3 class="col-xs-12 nickname">' + value.nickname  + '</h3>',
													'<div class="col-xs-12">',
												  		checkFriend(),
													'</div>',
												'</div>',
											'</li>'
										];

								 $('.user-members ul').append( li.join('') );

						});


 				})();// end displayMembers

				/**
				 * BTN FREIND REQUEST
				 */
								$(document).on('click', '.btn-friend-request', function(event){
									var uid = event.currentTarget.id;
									var avatar = $(this).parents().find('img').attr('src') ;
									var nickname = $(this).parent().parent().find('.nickname').html() ;
																		console.log('btn-friend-request1:: ', nickname );

										var modal = [
											'<div id="' + uid +'" class="container-fluid modal-container">',
												'<div class="modal well col-md-4 col-sm-4 col-xs-12 text-center">',
													'<div class="wrapper">',
														'<h1>Do you want to send a friend request ?</h1>',
														'<div class="col-md-12 col-sm-12 col-xs-12 text-center">',
															'<div class="text-center"> <img src="' + avatar  + '" alt="' + nickname + '"/></div>',
														'</div>',
														'<h3 class="nickname">' + nickname + '</h3>',
														'<div class="col-md-12 col-sm-12 col-xs-12">',
															'<div class="col-md-6 col-sm-6 col-xs-12 text-center">',
																'<button class="btn btn-success btn-confirm-request-friend" data-uid="'+ uid +'" data-nickname="' + nickname + '">Yes</button>',
															'</div>',
															'<div class="col-md-6 col-sm-6 col-xs-12 text-center">',
																'<button class="btn btn-danger btn-cancel-request-friend">No</button>',
																'</div>',
															'</div>',
														'</div>',
													'</div>',
												'</div>',
											'</div>',
										];

										$('body').append( modal.join(''));
								});

			/**
			 * BTN CANCEL
			 */
								$(document).on('click', '.btn-cancel-request-friend', function(){
									$('.modal-container').fadeIn('slow', function(){
										$(this).remove();
									})
								});

			/**
			 * BTN CONFIRM
			 */
								$(document).on('click', '.btn-confirm-request-friend', function(e){
									// ajouter spinner en attente reponse serveur

									e.preventDefault();

									$('.modal-container .wrapper').slideUp();

									var uid = $( this ).data('uid');
									var nickname = $( this ).data('nickname');

									$.ajax({
										url:'/friend-request',
										type:'POST',
										data: {
											"uid": uid,
											"nickname": nickname
										},
										success: function( data, textStatus, jqXHR ) {

											if(data){
												if(data.error){
													//error
													console.log('error');
												}
												if(data.success){
													var message = [
														'<div class="col-md-12 col-sm-12 col-xs-12 bg-success">',
															data.success ,
														'</div>'

													]
													$('.modal-container .modal').append( message.join(''));
												}
											}

										}
									})

								})



	})// end doc ready


	</script>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>Members</h1>
				</div>
				<!-- end page header -->
					<div class="container">

						<div class="col-md-12">
								 <!-- //// user-friends ////-->
								 <div class="user-members well well-md"> <!-- MEMBERS -->
									 <ul></ul>

								 </div>
								 <!-- //// end user-friends //// -->
						</div>




					</div>

				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
