<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>

	</head>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>Profil</h1>
				</div>
				<!-- end page header -->

					<div class="row">
				<%# ///////////////////////// PROFIL ////////////////////////////////// %>
				<div id="bg-container">
					<div class="col-xs-12 col-md-6 col-md-offset-3">

						<div class="user-nickname">
							<% if(locals.user) { %>
							<h2> Bienvenue <%= user.nickname %> </h2>
							<% } %>
						</div>
					            <div class="well well-sm user-container">
					                <div class="row">
					                    <div class="col-xs-8">
																<!-- //// user-info ////-->
																<div class="user-info">
					                       <%# load ajax user-profile %>
																	</div>
																	<!-- //// end user-info //// -->
					                    </div>
					                </div>
					            </div>
					        </div>
						</div>
				<%# ///////////////////////////////////////////////////////////////////// %>

				</div>
				<%# end row %>

		</div>
		<!-- end form-container -->


				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
