<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>
	<script>
	var results = <%- JSON.stringify( results ) %>;
	var search = <%- JSON.stringify( search ) %>;

					$(document).ready( function(){

						if( results.member.length == 0 && results.messages.length == 0 ){
					  	   $('#bg-container').append( '<span>No match found for <mark>' + search + '</mark></span>');
						   return;
					   } else {


							$.each( results, function( index, value){
												for (var obj in value){

														////////////////////////// messages
													  if( results.messages.length > 0 && typeof(results.messages) !== 'undefined'){

															function insertResponseInMarker(){

																	var regex = new RegExp( search, "gim" );
																	var msg = value[obj].message;
																	var match = msg.match( regex);	// match element regex in message
																	var msgBefore = msg.split( match )[0]; // split element before
																	var msgAfter  = msg.split( match )[1]; // split element after
																	var message   = msgBefore + '<mark>' + match + '</mark>' + msgAfter;

																	return message;

															};

																var render = [
																				 '<div class="col-md-12- col-sm-12 col-xs-12 search-results" data-uuid="' + value[obj].uuid +'">',
																					 '<span class="col-md-3 col-sm-3 col-xs-12 date">'+ value[obj].date +'</span><span class="col-md-1 col-sm-1 col-xs-12 "><a href="/user/'+ value[obj].user +'">'+ value[obj].user +'</a></span> <span class="col-md-8 col- sm-8 col-xs-12 ">'+ insertResponseInMarker()  +' </span>',
																				 '</div>'
															  	];



															 	$('#bg-container').append(render.join(''));

														 	}

															////////////////////////// user
															  if( results.member.length > 0 && typeof(results.member)!=='undefined' ){

																	var member = [
																		'<div class="well well-md avatar"><img src="img/profile/' + value[obj].avatar  + '" alt="' + value[obj].nickname + '"/> ',
																			'<span class="text-left">Member: <a href="/user/'+ value[obj].nickname +'">'+ value[obj].nickname +'</a></span>',
																		'</div>'
																		// '<div class="col-md-12- col-sm-12 col-xs-12>',
																		// 	'<span class="col-md-6 col-sm-6 col-xs-6 text-left date">Member: <a href="/user/'+ value[obj].nickname +'">'+ value[obj].nickname +'</a></span>',
																		// '</div>'
																	];

																	$('#bg-container').append( member.join(''));

															  }
											}
							})
						}
				})

	</script>
	</head>

	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>Search</h1>
				</div>
				<!-- end page header -->
<!-- /////////////////////////////  LOGIN CONTAINER /////////////////////////////// -->
				<div id="bg-container">
					<!-- formulaire -->

				</div>
				<!-- end form-container -->
				</div>
<!-- //////////////////////////////////////////////////////////////////////////////// -->
				<!-- end container -->

				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
