<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>
	<script src="/js/user-board.js" type="text/javascript"></script>
	<script>
		var friends  = <%- JSON.stringify(friends) %>;
		var messages = <%- JSON.stringify( board ) %>;
		var user     = <%- JSON.stringify( user ) %>;
		$(document).ready(function(){

			$.each( messages, function(index, value) {
				function checkUser(){
					if (user === value.user){
						return '<div class="remove-btn"><a href="#"><span class="glyphicon glyphicon-remove text-danger"></span></a></div>'
					}
				}

				var render = [
					 '<div class="col-md-12- col-sm-12 col-xs-12 well well-lg container-message" data-uuid="' + value.uuid +'">',
					 checkUser(),
					 '<span class="col-md-6 col-sm-6 col-xs-6 text-left date">'+ value.user +'</span>',
					 '<span class="col-md-6 col-sm-6 col-xs-6 text-right date">'+ value.date +'</span>',
					 '<span class="message">'+ value.message +'</span>',
					 '</div>'
				 ];
							$('.user-board').append(render.join(''));
				});



			$('.user-friends ul').empty();

			$.each(friends, function(index, value) {
				$('.user-friends ul').append('<li><a href="/user/' + value + '">' + value + '</a></li>');
				console.log("VALUE:: ", value);
			});



			$('.btn').on('click', function(e){
				e.preventDefault();

				$.ajax({
					type: "POST",
					url: '/board',
					data: {
						"user"             : user,
						"message_board"    : $('#message_board').val()
					},
					success: function(data, textStatus, jqXHR) {
						console.log(data);
						if(data.error){
											if( !$('.error').is(':visible') ){
												var error = '<div class="error">' + data.error + ' </div>';
												$('#form-container').append(error);
												// remove error after 5s
												setTimeout(function(){
													$('.error').remove();
												},5000)
											}
										} else {

											if( data.message){
												if( !$('.error').is(':visible') || 
														!$('.success').is(':visible')
													)
													{

													var success = '<div class="success bg-success">' + data.response + ' </div>';
													$('.user-board').parent().prepend(success);
													// remove error after 5s
													setTimeout(function(){
														$('.success').remove();
													},5000);

													function checkUser(){
														console.log(user, data.user);
														if (user === data.user){
															return '<div class="remove-btn"><a href="#"><span class="glyphicon glyphicon-remove text-danger"></span></a></div>'
														}
													}

													 var render = [
														 	 '<div class="col-md-12- col-sm-12 col-xs-12 well well-lg container-message" data-uuid="' + data.uuid +'">',
 													  	checkUser(),
														'<span class="col-md-6 col-sm-6 col-xs-6 text-left date">'+ data.user +'</span>',
														'<span class="col-md-6 col-sm-6 col-xs-6 text-right date">'+ data.date +'</span>',
														'<span class="message">'+ data.message +'</span>',
														'</div>'
											];
											$('.user-board ').append(render.join(''));
											scroll();

												}
											}
											//window.location = data.redirect

									}
								}
				})

			})

			/////////////////////////////////////////
			/////////////////////////////////////////
			var msg =$('#messages');
			var form = $('#container-form');
			var footer = $('.footer');
			var msgMaxHeight = parseFloat($(window).innerHeight()) - $('#form-container').height() + 'px';
			console.log(msgMaxHeight);

			/**
			 * [resizeMaxHeightMsg]
			 */
			function resizeMaxHeightMsg() {
				msgMaxHeight = parseFloat($(window).innerHeight() / 2) - ($('.footer').height()*1.8) + 'px';
				// msg.style.maxHeight = msgMaxHeight ;
				msg.css('max-height', msgMaxHeight);
			};
			resizeMaxHeightMsg();
			/**
			 * [scroll]
			 */

			function scroll(){
				interval = window.setInterval(function() {
					var msg = document.getElementById("messages");
					// msg.animate({
					// 	'scrollTop': msg.scrollHeight
					// });
					 msg.scrollTop = msg.scrollHeight;
					console.log('SCROLL')
					clearInterval(interval);
				}, 100);
			};
			scroll();
			window.onresize = function(event) {
				  resizeMaxHeightMsg();
			};





		})// end doc ready

	</script>
	<link rel="stylesheet" href="../css/board.css">
	</head>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>Board</h1>
				</div>
				<!-- end page header -->

					<div class="row">
				<%# ///////////////////////// BOARD ////////////////////////////////// %>
				<div id="bg-container">
					<div class="col-md-12 ">

						<div class="user-nickname">
							<% if(locals.user) { %>
							<h2><%= locals.user %>&#146;s board </h2>
							<% } %>
						</div>
					            <div class="board-container col-md-12" ><!-- BOARD-CONTAINER DISPLAY:NONE-->
					                <div class="row">
					                    <div class="col-md-8 col-xs-8">
																<!-- //// user-board ////-->

																<div id="messages" class="user-board">
																<!-- USER-BOARD -->

																</div>
																<div id="form-container" class="col-md-12">
																	<form method="post">
																	<div class="form-group">
																	  <label for="comment">Comment:</label>
																	  <textarea class="form-control" rows="3" id="message_board"></textarea>
																	</div><button class="btn btn-primary">envoyer</button>
																  </form>
																</div>
																<!-- //// end user-board //// -->
					                    </div>

															<div class="col-md-4 col-xs-4">
																<div class="col-md-12">
																		 <!-- //// user-friends ////-->
																		 <div class="user-friends well well-md"> FRIENDS
																			 <ul></ul>

																		 </div>
																		 <!-- //// end user-friends //// -->
														 		</div>

																<div class="col-md-12">
																		 <!-- //// user-chat ////-->
																		 <div class="user-chat well well-md"> CHAT
																		 </div>
																		 <!-- //// end user-chat //// -->
														 		</div>
														 </div>



					                </div>
					            </div>
					        </div>
						</div>
				<%# ///////////////////////////////////////////////////////////////////// %>

				</div>
				<%# end row %>

		</div>
		<!-- end form-container -->


				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
