#messages{
	overflow-y: auto;
	overflow-x: hidden;
}
.container-message .date {
    font-size: 12px;
    color: lightgray;
}

.container-message .message {}

#form-container{
	/*position: fixed;
	bottom:0;
	z-index: 99;
	background: #fff;*/
}

.remove-btn{
  position: absolute;
  top:0;
  right:0;
  margin:7px;
	display: none;
}
