* {
     margin: 0;
     padding: 0;
     border: 0;
     outline: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
      user-select: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  /*font-family: 'Courgette', cursive;*/
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
    background: antiquewhite;
    background: #b6dffd;
background: -moz-linear-gradient(top, #b6dffd 0%, #e0f3fa 100%);
background: -webkit-linear-gradient(top, #b6dffd 0%, #e0f3fa 100%);
background: linear-gradient(to bottom, #b6dffd 0%, #e0f3fa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6dffd', endColorstr='#e0f3fa', GradientType=0);*/
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

ul {
  padding:0;
}
ul li{
  list-style: none;
}

/*  CSS
 *
 */

body>.container {
    padding: 0px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.glyphicon-remove{
	cursor: pointer;
	color: #c9302c;
}
.glyphicon-ok{
	color: #5cb85c;
	margin-right: 7px;
}

#nav-user li{
  display:inline-block;

}

.navbar-nav{
	text-transform: uppercase;
	font-size: small ;
}
.navbar-nav li li {
    padding-top: 15px;
    padding-bottom: 15px;
}

#nav-user{
   padding-top:15px;
   padding-bottom:15px;
  float: right;


}


.nav .badge{
	background: red;
	padding:3px 6px;
	margin-left:2px;
}
.nav .btn-lg {
	padding:0;
}

#form-container {
    width: 100%;
}

.btn{

}

button a, button a:hover {
  text-decoration: none;
    color:white;
}
.green, .green:visited{
   color:white;
   background: #93ce3b;
   border-color: #93ce3b;
   text-shadow: 0 1px 0 #78ab2b;
}

.green:hover{
  color:white;
  background: #b7ce3a;
}


.box {
    border-radius: 10px;
    padding: 50px 0;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.box .form-control{
  margin:5px 0;
}

#logo {
    text-align: center;
    margin: 30px 0;
}

/**
 *  index
 */
#signin{

}
.dob{
  color:lightgray;
}
.dob > div {
  padding-left: 0;
}

.forgotten-pass{
  font-size:x-small;
line-height: 50px;
}
/* */

label {
    color: #666;
    font-weight: 300;
    text-align: right;
    line-height: 30px;
}
.page-header{
  text-align: center;
  color:deeppink;
}
.informations ul li div{
  text-align: right;
}

.form-group {
  margin-bottom: 0;
}

.form-group label{
  padding-left: 0;
}
.form-group input {
    /*margin: 0 0 10px 0;*/
}

.error{
  text-align:center;
  color:red;
  width: 100%;
  float: left;
  padding:10px 0;
}

/* LOGIN */
#bg-container{
  /*background: url(../img/bg.jpg) no-repeat;*/
  /*background-size: cover;*/
  width:100%;
  height:100%;
  display: inline-block;
  padding:50px 0;
      min-height: 500px;
}

/* USER */
.user{
  color:green;
}
.user-info{
  margin:10px 0;
}
.user-info i{
  color:#999;
}
.user-firstname h2{
  color:darkgrey;
}
.user-button{
  float:right;
  margin:0 20px 0 0;
}


/* MODAL */
.modal-container{
	background: rgba(0,0,0,.3);
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.modal-container .modal{
	display: inline-table;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	border-radius: 15px;
}

.container .btn{
	/*width:100%;*/
}


/**********************/
/* friend-request.ejs */
/**********************/
.li-request-friend-list{
	background: #eee;
	border-radius: 15px;
	padding:20px;
}
.user-members ul {
	margin:0;
	padding:0;
}
.user-members ul li{
	display: inline-block;
	border:lightgray 1px solid;
	margin:5px 10px;
	width:30%;
	padding:5px 0;
	border-radius: 5px;
}
.avatar img{
	max-width:80px;
}

/**********************/
/*** search-results ***/
/**********************/

.search-results{
	background: #edf9ff;
	border:1px solid lightblue;
	padding:30px;
	border-radius: 15px;
}

mark{
	background: #f9ff72;
	padding:0;
	margin:0;
}

/*******************/
/**status-message **/
/*******************/
#status-message  {
	/*height:20px;*/
}
#status-message > div{
	padding: 5px 20px;
    border-radius: 7px;
     width: 50%;
}
